<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List Create View</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new list</h1>
            <form method="POST" action=""> 
                {% csrf_token %}
                <label for="name">Name: </label>
                <input type="text" name="name">
                
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>