<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List View</title>
</head>
<body>
    <main>
        <div>
            <h1> My Lists </h1>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
            <p></p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todos in todo_list %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' todos.pk %}">{{todos.name}}</a></td>
                            <td>{{todos.items.all|length}}</td> 
                            {% comment %} need to access the todo task inside the to do list??? {% endcomment %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </main>
</body>
</html>